# TODO: USB-IDs müssen noch hinzugefügt werden
# Ajazz AKP05 (VENDOR_ID:PRODUCT_ID) - IDs noch nicht bekannt
# SUBSYSTEM=="usb", ATTRS{idVendor}=="XXXX", ATTRS{idProduct}=="XXXX", MODE="0660", TAG+="uaccess"
# KERNEL=="hidraw*", SUBSYSTEM=="hidraw", ATTRS{idVendor}=="XXXX", ATTRS{idProduct}=="XXXX", MODE="0660", TAG+="uaccess"
